.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

.green-font {
    color: #27c7ab;
}


/*
                    HEADER
 */

header {
    width: 100%;
    height: 50px;
    background-color: black;
}


header > .container> span {
    float: left;
}

header span, header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 50px;
    font-size: 12px;
}

.main_nav {
    list-style: none;
    margin: 0;
    float: right;
}

.main_nav > li {
    float: left;
    padding-left: 30px;
    position: relative;
}

.sub_nav {
    display: none;
    position: absolute;
    top: 60px;
    /*left: -10px;
    do ogarnięcia*/
    transform:translate(-50%, 0px);
    left: 50px;
    list-style: none;
    background-color: black;
    padding: 5px 25px 5px 15px;
}

.sub_nav::before {
    content: '';
    display: block;
    position: absolute;
    top: -17px;
    /* do ogarnięcia */
    left: 50px;
    border: 10px solid transparent;
    border-bottom: 10px solid black;
}

.main_nav li:hover .sub_nav {
    display: block;
}

.sub_nav a {
    font-weight: 400;
    line-height: 30px;
}



/*
                    SLIDER
 */

#slider {
    width: 100%;
    height: 500px;
    background: linear-gradient(white, #d2d1d6);
}

.arrow {
    display: block;
    float: left;
    width: 50px;
    height: 500px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 50px;
}

#slider ul {
    list-style: none;
    width: 1000px;
    margin: 0 auto;
    float: left;
}

#slider li{
    display: none;
}

#slider .visible{
    display: inline-block;
}


#slider img {
    padding-top: 70px;
    float: left;
}

#slider img.chair_typ2 {
    margin: 63.5px 102.5px;
}

#slider article {
    padding: 120px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

#slider p {
    margin: 35px 0;
}

.button {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    background-color: #27c7ab;
    font-weight: 500;
    padding: 15px 40px;
    margin: 0 auto;
    border: transparent;
    border-radius: 8px;
}

.arrow:focus {
    outline: 0;
}

.arrow:hover {
    cursor: pointer;
}



/*
                    INFO
 */

#info {
    height: 300px;
    /*border: 2px solid pink;*/
}

#info .pic, #findsAllInputs {
    margin-top: 28px;
}

#info .pic:first-of-type {
    background-image: url("../images/box1_img.jpg");
    width: 329px;
    height: 225px;
    float: left;
}

#info .pic:nth-of-type(2) {
    background-image: url("../images/box2_img.jpg");
    width: 329px;
    height: 225px;
    margin-left: 51px;
    float: left;
}

#info .h2-box {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 62px;
    margin-top: 150px;
}

#findsAllInputs {
    width: 340px;
    height: 254px;
    border: 1px solid #d2d1d6;
    float: right;
}

#info h2 {
    width: 138px;
    font-size: 16px;
    border-bottom: 7px solid #27c7ab;
    margin: 30px 20px 10px 30px;
}

#info .h2-box h2 {
    padding-top: 14px;
}

#info p {
    font-size: 14px;
    color: #565656;
    margin: 25px;
}


/*
                PRICES
 */

#prices {
    height: 725px;
    background-color: #f1f1f1;
}

#prices > div {
    height: 100%;
    border: 1px solid transparent;
}

h3 {
    width: 320px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #5a5a5a;
    border-bottom: 8px solid #27c7ab;
    padding-bottom: 8px;
    margin: 35px 20px 85px 5px;
}

.col-33 {
    width: 33.333%;
    float: left;

}

/*linie pomocnicze
.col-33:nth-of-type(1) {
    border: 1px solid blue;
}
.col-33:nth-of-type(2) {
    border: 1px solid red;
}
.col-33:nth-of-type(3) {
    border: 1px solid green;
}*/

.price-plan {
    width: 330px;
    height: 500px;
    border: 2px solid #d8d8d8;
    background-color: white;
    margin-bottom: 66px;
    position: relative;
}

.col-33:nth-of-type(2) .price-plan {
    margin: 0 auto 66px auto;
}

.col-33:nth-of-type(3) .price-plan {
    float: right;
}

.ring {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 2px solid #d8d8d8;
    background-color: white;
    position: absolute;
    top: -38px;
    left: 50%;
    margin-left: -29px;
}

.ring:after {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #d8d8d8;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -14px;
}

h5.plan-type {
    width: 100%;
    margin: 32px auto 25px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    color: #27c7ab;
}

.price {

    width: 130px;
    height: 130px;
    margin: 25px auto 20px auto;
    border-radius: 50%;
    border: 2px solid #d8d8d8;
    background-color: white;
    color: #b9b9b9;
}


.price .zloty {
    display: block;
    margin-top: 23px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.price .groszy {
    vertical-align: super;
    font-size: 14px;
}

.price .pln {
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

}

.plan-included {
    display: block;
    width: 100%;
    height: 46px;
    text-align: center;
    font-size: 20px;
    color: #565656;
    line-height: 46px;
    background-color: orange;
}

.price-plan > .plan-included:nth-of-type(odd) {
    background-color: #e4e4e4;
}

.price-plan > .plan-included:nth-of-type(even) {
    background-color: #f1f1f1;
}

.price-plan > .button {
    width: 140px;
    font-size: 12px;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
    padding: 2px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -70px;
}
/*dostosowanie standard plan*/
#price-plan-standard {
    border: 2px solid #27c7ab;
    background-color: #27c7ab;
}

#price-plan-standard .ring{
    border: 2px solid #27c7ab;
    background-color: #27c7ab;
}

#price-plan-standard .ring:after{
    background-color: white;
}

#price-plan-standard h5.plan-type {
    color: white;
}

#price-plan-standard .price {
    border: 1px solid #27c7ab;
    color: #27c7ab;

}

#price-plan-standard > .plan-included:nth-of-type(odd) {
    background-color: white;
}

#price-plan-standard .button {
    color: #27c7ab;
    background-color: white;
    border-color: white;
}


    /*
                    CONTACT
     */

#contact {
    height: 520px;
/*    border: 1px solid lime;*/
}

#contact div {
    float: left;
/*    border: 1px solid red;*/
    margin-top: -20px;
}

#contact div:first-of-type {
    width: 633px;
}

#contact div:last-of-type {
    width: 350px;
    margin-left: 90px;
}

#contact div:first-of-type input {
    width: 100%;
    height: 66px;
    margin-bottom: 26px;
    border: 1px solid #27c7ab;
    padding-left: 15px;
    font-size: 28px;
}
#contact div:first-of-type textarea {
    width: 100%;
    height: 190px;
    border: 1px solid #27c7ab;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 28px;
}

#contact img {
    margin: -30px 20px 32px 30px;

}

#personal-info {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #27c7ab;
    background-color: transparent;

}

#contact label {
    float: left;
    padding: 5px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #939393;

}

#contact .button {
    padding: 22px 132px;
    font-size: 22px;
    font-weight: 700;
}

/*
FOOTER
 */

footer {
    height: 150px;
/*    border: 1px solid orange;*/
    color: #939393;
    font-size: 20px
}

#copyright {
    display: block;
    float: left;
    margin-top: 57px;
    line-height: 35px;
}

.social-bar {
    margin-top: 57px;
    float: right;
}

#last-logo {
    margin-top: 57px;
    margin-left: 85px;
    line-height: 35px;

    display: block;
    float: right;
    text-transform: uppercase;
    font-weight: 500;
}


#last-logo .on {
font-weight: 700;
}